.footer--global {
  background-color: #991325;
  width: 100%;
  color: white;
  text-align: center;
  position:fixed;
  bottom:0;
}

a:hover {
  background-color: #991325;
}

a:active {
  color : white;
}


